/* ol {
    background-color: rgb(0, 39, 214);
} */

img{
    max-width: 50vw;
    max-height: 25vw;
}

.images {
    max-width: 100px;
} 

.ordered-list{
    color: blanchedalmond;
    background-color: blue;
}

#unordered {
    color: aliceblue;
    background-color: rgb(94, 138, 37);
    
}