/* ol {
    background-color: rgb(0, 39, 214);
} */

img{
    width: auto;
    height: 500px;
}

.images {
    max-width: 100px;
} 

.ordered-list{
    color: blanchedalmond;
    background-color: blue;
}

#unordered {
    color: aliceblue;
    background-color: rgb(94, 138, 37);
    
}