/* ol {
    background-color: rgb(0, 39, 214);
} */

img{
    width: auto;
    height: 500px;
}

.images {
    max-width: 100px;
} 

.ordered-list, .unordered {
    color: blanchedalmond;
    background-color: blue;
}

#ulforu{
    color: rgb(189, 116, 7);
    background-color: rgb(63, 0, 145);
    justify-content: center;
    align-content: center;
}